<% form_tag(:controller => "controlpanel", :action => "updatefolderperm") do |f| %>
    <%= stylesheet_link_tag "folderperm" %>
    <h3>Set your folder permission for <strong><%= @selectedfolder %></strong>.</h3>
    <!-- Your file list - start -->
    <div class="LeftBox">
        <h4>Available Users</h4>
        <select multiple="true" class="ListOfUsers" name="listofusers">
            <% @availableusers.each do |user| %>
                <option title="<%= user.name %>" ><%= user.name %> </option>
            <% end %>
        </select>
    </div>
    <div class="MiddleBox">
        <div class="cmdbutton btnrightall"><a href="#">>>|</a></div>
        <div class="cmdbutton btnright"><a href="#">&nbsp;>></a></div>
        <div class="cmdbutton btnleft"><a href="#"><<&nbsp;</a></div>
        <div class="cmdbutton btnleftall"><a href="#">|<<</a></div>
    </div>
    <div class="RightBox">
        <h4>Selected Users</h4>
        <select multiple="true" class="ListOfUsers" name="selectedusers">
            <% @selectedusers.each do |user| %>
                <option title="<%= user.name %>" ><%= user.name %> </option>
            <% end %>
        </select>
    </div>
    <div class="clearfix clear"></div> <br>
    <div class="clear clearfix Buttonupdate">
      <a href="#" class="btnupdatepermissions"> Update Permissions </a>
    </div>
    <%= javascript_include_tag "jquery-1.4.1.min" %>
    <%= javascript_include_tag "json2" %>
    <%= javascript_include_tag "permissions_handler" %>
    <%= javascript_include_tag "folderpermission" %>
<% end %>