    <% if @status == 1 %>
        <!-- Your file list - start -->
        <% if @myfiles.count > 0 %>
        <h4>
            Files you have access to.</h4>
        <%= render :template => "myfiles/filelist" %>
        <ul class="downloads">
          <li>
              <table width="100%">
                <tr class="AjaxLoadingPanel">
                    <td colspan="3"><div>Loading  <%= image_tag "loading.gif" %></div></td>
                </tr>
              </table>            
          </li>
        </ul>
        <!-- Your file list - end -->
        <input type="hidden" id="StatusIndex" value='0' />
        <%= stylesheet_link_tag "ajaxLoading" %>
        <%= javascript_include_tag "jquery-1.4.1.min" %>
        <%= javascript_include_tag "enablemenu" %>
        <%= javascript_include_tag "UserInteractions" %>
        <%= javascript_include_tag "filelazyloading" %>
        <%= javascript_include_tag "fileoperations" %>
        <% else %>
            there is no files avaialble for download!
        <% end %>
    <% else %>
        <h2>You do not have permission to download files.</h2>
    <% end %>

